@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Variables */
:root {
  --font-family: "Roboto", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #0d1216;
  --bg-color-nav: #1c262e; 
  --primary-color: #ead2a8;
  --secondary-color: #ba042c;
  --primary-shadow: #d7d7db;
  --secondary-shadow: #a89e9a;
  --text: #fefefe;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}
/* Variables end */

html {
  scroll-behavior: smooth;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 2px solid red; */
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

body {
  font-family: var(--font-family);
  background-color: var(--bg-color);
  color: var(--text);
}



/* CSS Resets end */

/* Navbar */
nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color: var(--bg-color-nav);
  color: var(--text);
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.3);
}

.navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navigation li {
  margin-right: 160px; /* Ajusta el valor según sea necesario */
}

nav h1 {
  color: var(--text);
  font-size: 28px /* Adjusted font size */
}

nav a {
  color: var(--text);
  position: relative; /* Añadido: posición relativa */
  transition: var(--transition);
  font-size: 1rem; /* Adjusted font size */
}

.nav-link {
  font-size: 18px; 
}

nav a:hover {
  color: var(--primary-color);
}

/* Añadido: Barra que aparece debajo de cada sección al pasar el mouse */
nav a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px; /* Ajusta la altura de la barra */
  background-color: #ead2a8; /* Color de la barra */
  transform: scaleX(0); /* Inicialmente la barra no es visible */
  transform-origin: bottom right;
  transition: transform 0.3s ease-in-out;
}

nav a:hover::after {
  transform: scaleX(1); /* La barra se expande al pasar el mouse */
}

nav ul {
  display: flex;
  gap: 1.9rem;
}

nav ul li {
  font-weight: var(--bold-font);
}

.burger-menu {
  color: var(--text);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}
/* Navbar ends */

/* Hero section */
/* Hero section */
.hero {
  display: flex;
  flex-direction: column; /* Cambiar la dirección del eje principal a columna */
  align-items: center;
  justify-content: center;
  max-width: 100%;
  margin: auto;
  background-color: #2c3e50;
  gap: 2rem;
}

.hero img {
  width: 18rem;
  margin-top: 2rem; /* Reducir el espacio entre la imagen y la biografía */
  border-radius: 15px;
  max-width: 100%; /* Imagen responsive */
  height: auto;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.hero-img:hover img {
  transform: scale(1.02);
}

/* Styling para la sección de la biografía */
.bio {
  width: 35rem;
  max-width: 100%;
  height: auto;
  padding: 1rem;
  border-radius: 15px;
  box-shadow:  0 15px 5px rgba(0, 0, 0, 0.3);
  width: 100%; /* Full-width on small screens */
  padding: 1rem;
  border-radius: 0.8rem;
  
}

.bio-title {
  color: var(--primary-color);
  font-size: 2rem;
  text-align: center;
}

.bio-text {
  margin: 3%;
  font-size: larger;
  line-height: 1.6; /* Espaciado entre líneas */
  text-align: justify;
  font-weight: 400; /* Grosor de la fuente */
}

.bio-text strong {
  color: #e74c3c; /* Color para las partes importantes del texto */
}

.bio-text em {
  font-style: italic; /* Estilo cursiva para resaltar */
}

/* .bio:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease;
} */

.bio h1 {
  margin-bottom: var(--bottom-margin);
}

.bio p {
  padding: 0.3rem 0;
  line-height: 1.8rem;
}
/* Hero section ends */

/* More about */
/* Estilos para la sección "Más sobre mí" */
.more-about {
  background-color: green; /* Color de fondo */
  padding: 1rem 1.5rem; /* Ajuste de padding */
  
}

.more-about h2 {
  margin-bottom: var(--bottom-margin);
  text-align: center;
  color: var(--primary-color);
  font-size: 1.8rem; /* Tamaño de fuente ajustado */
}

.more-about ul {
  margin: 3%;
  list-style-type: disc; /* Tipo de viñeta - disc, circle, square, etc. */
  padding-left: 1.5rem; /* Ajuste del espacio a la izquierda */
}

li {
  font-size: 1.2rem; /* Tamaño de fuente para los elementos de la lista */
  line-height: 1.6; /* Espaciado entre líneas */
  color: var(--text); /* Color del texto */
  margin-bottom: 10px; /* Espacio entre elementos de la lista */
}

.more-about p {
  font-size: 1.2rem; /* Tamaño de fuente para los elementos de la lista */
  line-height: 1.6; /* Espaciado entre líneas */
  color: var(--text); /* Color del texto */
  margin-bottom: 10px; /* Espacio entre elementos de la lista */

}
/* More about ends */

/* Skills section */
.skills {
  max-width: 100%; /* Ajusta el ancho máximo según tu preferencia */
  margin: auto; /* Centra los contenedores en el medio */
  text-align: center;
  /* margin-top: 2rem; */
  background-color:cadetblue;
}

.skill-header {
  margin-bottom: 1rem;
  color: var(--primary-color);
  font-size: 2rem; /* Ajustado el tamaño de la fuente */
}

.skills-wrapper img {
  padding: 1.25rem;
  width: 15rem; /* Ajustado el ancho de las imágenes */
  height: 15rem; /* Ajustada la altura de las imágenes */
}

.icon {
  width: 11rem; /* Ajustado el ancho de los contenedores de habilidades */
  height: 10.5rem; /* Ajustada la altura de los contenedores de habilidades */
}
/* Skills section ends */

/* Projects section */
.projects {
  background-color:coral;
  padding: 2rem 1rem; /* Adjusted padding */
  /* margin-top: 2rem; */
}

.project-pic {
  width: 100%; /* Responsive image */
  height: 250px;
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  width: 100%; /* Full-width on small screens */
}

.projects-title {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.8rem; /* Adjusted font size */
}

.project-container {
  text-align: center;
  padding: 1rem;
  width: 100%; /* Full-width on small screens */
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 0.8rem;
  box-shadow: 0 3px 10px var(--primary-shadow);
  /* Añadido: Fija el alto de los contenedores de proyectos */
  height: 32rem; /* Puedes ajustar la altura según tus preferencias */


}

.project-link {
  margin-top: auto;
}

.project-container p {
  padding: 0.4rem;
  text-align: justify;
}

.project-title {
  margin-bottom: var(--bottom-margin);
  font-size: 1.5rem; /* Adjusted font size */
}

.project-details {
  margin-bottom: var(--bottom-margin);
}

/* Projects section ends */

/* Contacts section */
.contact {
  /* margin-top: 2rem; */
  background-color:yellow;
}

.contact h2 {
  text-align: center;
  margin-bottom: var(--bottom-margin-2);
  color: var(--primary-color);
  font-size: 1.8rem; /* Adjusted font size */
}

.contact-form-container {
  max-width: 25rem; /* Adjusted max-width */
  margin: 0 auto;
  padding: 1rem;
  border-radius: 0.8rem;
  box-shadow: 0 3px 10px var(--secondary-shadow);
}

.contact-form-container label {
  line-height: 2.7em;
  font-weight: var(--bold-font);
  color: var(--primary-color);
}

.contact-form-container textarea {
  min-height: 8rem; /* Adjusted min-height */
  font-size: 14px;
}

.input-field {
  padding: 0.5rem;
  padding-top: 10px;
  padding-bottom: 10px;
}

.contact-form-container .input-field {
  width: 100%;
  padding: 0.5rem;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: none;
  border: 2px outset var(--primary-color);
  font-size: 0.875rem;
  outline: none;
  background-color: var(--bg-color);
  color: var(--primary-color);
}

.input-field::placeholder {
  padding: 0.5rem;
  color: var(--primary-color);
}

.submit-btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: var(--bg-color);
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: var(--bold-font);
  transition: var(--transition);
  color: var(--text);
}

.submit-btn:hover {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  cursor: pointer;
}
/* Contacts section ends */

/* Social buttons */
.socials {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 2%;
  bottom: 40%;
}

.socicon {
  width: 2rem;
  height: 2rem;
}
/* Social button ends */

/* Scroll to top button */
.scroll-up {
  position: fixed;
  right: 0.5%;
  bottom: 5%;
  cursor: pointer;
}

.up-arrow {
  width: 2.5rem;
  height: 2.5rem;
}
/* Scroll to top button ends */

/* Footer section */
footer {
  background-color: var(--bg-color);
  padding: 1.25rem;
  text-align: center;
  margin: 2rem 0 0;
  margin-top: 2rem;
}
/* Footer section ends */

/* General (utilities) */
.icon-card {
  background-color: var(--bg-color);
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
  padding: 20px;
  margin: 10px;
}

.project-card {
  background-color: var(--bg-color);
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 20px;
  margin: 10px;
}

/* Media queries for responsiveness */
@media screen and (max-width: 720px) {
  nav {
    padding: 1.5rem 1rem;
  }
  nav ul {
    position: fixed;
    background-color: var(--bg-color);
    flex-direction: column;
    top: 86px;
    left: 10%;
    width: 80%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
  }

  nav ul li {
    margin: 8px;
  }

  .burger-menu {
    display: block;
  }

  nav ul.show {
    transform: translateX(0);
  }

  .hero {
    margin-top: 0;
    flex-direction: column;
    gap: 0;
  }

  .hero img {
    width: 100%; 
    width: 17rem;
    margin-top: 0; 
    border-radius: 20px;
  }

  .bio {
    margin-top: -7rem;
    width: 60%;
    margin-top: 1rem;
  }

  .more-about {
    margin-top: 2rem;
    padding: 1rem 3.5rem;
  }

  .more-about h2 {
    text-align: center;
  }

  .more-about p {
    text-align: justify;
  }

  .icon {
    width: 5.875rem;
    height: 5.25rem;
  }

  .projects-container {
    flex-direction: column;
  }

  .project-container {
    width: 20.875rem;
  }

  .contact-form-container {
    max-width: 23.75rem;
  }
}

@media screen and (max-width: 420px) {
  .hero img {
    height: 16.5rem;
    width: 17rem;
  }

  .bio {
    width: 18.3rem;
  }

  .project-container {
    width: 17.875rem;
  }

  .contact-form-container {
    max-width: 17.75rem;
  }
}

.container:hover {
  transform: scale(1.02); /* Ajusta el valor según tu preferencia */
  transition: transform 0.3s ease; /* Controla la velocidad de la transición */
}

/* Aplica el efecto a los contenedores que desees */
/* Por ejemplo, si quieres aplicarlo a todos los contenedores con la clase "project-container" */
.project-container:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease;
}

/* También puedes aplicarlo a otros elementos según tus necesidades */
/* Por ejemplo, si deseas aplicarlo a las imágenes dentro de los contenedores */
.project-container img:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease;
}

.skills-wrapper img:hover {
  transform: scale(1.09);
  transition: transform 0.3s ease;
}