@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Variables */
:root {
  --font-family: "Roboto", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #0d1216;
  --bg-color-nav: #1c262e; 
  --primary-color: darkgoldenrod;
  --secondary-color: #ba042c;
  --primary-shadow: #d7d7db;
  --secondary-shadow: #a89e9a;
  --text: #fefefe;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}
/* Variables end */

html {
  scroll-behavior: smooth;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 2px solid red; */
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

body {
  font-family: var(--font-family);
  background: linear-gradient(45deg, #181818 0%, #2c3e50 50%, #181818 100%);
  color: var(--text);
}



/* CSS Resets end */

/* Navbar */
nav {
  position: sticky;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color: var(--bg-color-nav);
  color: var(--text);
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.4);
  margin-bottom: 20px;
}

.navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navigation li {
  margin-right: 100px; /* Ajusta el valor según sea necesario */
}

nav h1 {
  color: var(--text);
  font-size: 28px /* Adjusted font size */
}

nav a {
  color: var(--text);
  position: relative; /* Añadido: posición relativa */
  transition: var(--transition);
  font-size: 1rem; /* Adjusted font size */
  text-decoration: none;
}

.nav-link {
  font-size: 18px; 
}

nav a:hover {
  color: var(--primary-color);
}

/* Añadido: Barra que aparece debajo de cada sección al pasar el mouse */
nav a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px; /* Ajusta la altura de la barra */
  background-color: var(--primary-color); /* Color de la barra */
  transform: scaleX(0); /* Inicialmente la barra no es visible */
  transform-origin: bottom left;
  transition: transform 0.3s ease-in-out;
}

nav a:hover::after {
  transform: scaleX(1); /* La barra se expande al pasar el mouse */
}

nav ul {
  display: flex;
  gap: 1.9rem;
}

nav ul li {
  font-weight: var(--bold-font);
}

.burger-menu {
  color: var(--text);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
  transition: transform 0.6s ease-in-out; /* Agrega una transición para suavizar el efecto */
}

.burger-menu:hover {
  transform: rotateX(360deg); /* Gira 180 grados sobre el eje X cuando se hace hover */
}



/* Navbar ends */


/* Hero section */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  margin: auto;
  /* background: linear-gradient(45deg, #181818 0%, #2c3e50 50%, #181818 100%); Gradiente con los colores deseados */
  gap: 2rem;
}

.hero img {
  width: 16rem;
  /* margin-top: 2rem; */
   /* Reducir el espacio entre la imagen y la biografía */
  border-radius: 15px;
  max-width: 100%; /* Imagen responsive */
  height: auto;
  border-radius: 50%;
  transition: transform 0.3s ease;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);  /* Añadimos una sombra en el borde */
}


/* Styling para la sección de la biografía */
.bio {
  width: 35rem;
  max-width: 100%;
  height: auto;
  padding: 1rem;
  border-radius: 15px;
  /* box-shadow:  0 15px 5px rgba(0, 0, 0, 0.3); */
  width: 100%; /* Full-width on small screens */
  padding: 1rem;
  border-radius: 0.8rem;
  
}

.bio-title {
color: var(--primary-color);
  font-size: 2.08rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* Asegura que el contenedor ocupe toda la altura disponible */
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.bio-title:hover {
  transform: translateY(-10px);
}

.bio-title::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* background: linear-gradient(to bottom, transparent 90%, #ebb75d 90%); */
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}

.bio-title:hover::before {
  transform: translateY(0);
}

.bio-text {
  margin: 3%;
  font-size: larger;
  line-height: 1.6; /* Espaciado entre líneas */
  text-align: justify;
  font-weight: 400; /* Grosor de la fuente */
}

.bio-text strong {
  color: #e74c3c; /* Color para las partes importantes del texto */
}

.bio-text em {
  font-style: italic; /* Estilo cursiva para resaltar */
}

/* .bio:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease;
} */

.bio h1 {
  margin-bottom: var(--bottom-margin);
}

.bio p {
  padding: 0.3rem 0;
  line-height: 1.8rem;
}
/* Hero section ends */

/* More about */
/* Estilos para la sección "Más sobre mí" */
.more-about {
  /* background: linear-gradient(45deg, #181818 0%, #2c3e50 50%, #181818 100%);  */
  padding: 1rem 1.5rem; /* Ajuste de padding */
  /* #2c3e50 */
}

.more-about h2 {
  margin-bottom: var(--bottom-margin);
  text-align: center;
  color: var(--primary-color);
  font-size: 1.8rem; /* Tamaño de fuente ajustado */
}

.more-about ul {
  margin: 3%;
  list-style-type: disc; /* Tipo de viñeta - disc, circle, square, etc. */
  padding-left: 1.5rem; /* Ajuste del espacio a la izquierda */
}

li {
  font-size: 1.2rem; /* Tamaño de fuente para los elementos de la lista */
  line-height: 1.6; /* Espaciado entre líneas */
  color: var(--text); /* Color del texto */
  margin-bottom: 10px; /* Espacio entre elementos de la lista */
}

.more-about p {
  font-size: 1.2rem; /* Tamaño de fuente para los elementos de la lista */
  line-height: 1.6; /* Espaciado entre líneas */
  color: var(--text); /* Color del texto */
  margin-bottom: 10px; /* Espacio entre elementos de la lista */

}
/* More about ends */

/* Skills section */
.skills {
  padding: 1rem 1.5rem; /* Ajuste de padding */
  max-width: 100%;
  text-align: center;
  /* background: linear-gradient(45deg, #181818 0%, #2c3e50 50%, #181818 100%); */
}

.skill-header {
  color: var(--primary-color);
  font-size: 2rem;
  margin-bottom: 2rem; /* Ajustado el margen inferior para colocar el título más abajo */
}

.skills-wrapper img {
  padding: 1.25rem;
  width: 15rem;
  height: 15rem;
}

.icon {
  width: 11rem;
  height: 10.5rem;
}
/* Skills section ends */

/* Projects section */
.projects {
  /* background: linear-gradient(45deg, #181818 0%, #2c3e50 50%, #181818 100%);  */
  padding: 2rem 1rem; /* Adjusted padding */
  /* margin-top: 2rem; */
  
}

/* Estilos para la imagen del proyecto */
/* Cambiar las dimensiones de lás imágenes a uno ESTANDAR */
.project-pic {
  width: 80%;
  height: auto;
  border-radius: 8px;
  display: block; /* Hacer la imagen un elemento de bloque */
  margin: 0 auto; /* Centrar horizontalmente */
  
}

.projects-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  
}

/* Estilos para el título del proyecto */
.project-title {
  margin-top: 15px;
  font-size: 1.2rem;
  color: #333;
  text-align: center;
  margin-bottom: var(--bottom-margin);
  font-size: 1.5rem; /* Adjusted font size */
}

.project-container {
  width: 33% ;/* Ajusta el ancho de cada proyecto según el número de proyectos por fila */
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  border:2px solid #e74c3c;
}

/* Estilos al pasar el ratón sobre un proyecto */
.project-container:hover {
  transform: translateY(-5px);
}

/* Estilos para el enlace "Descubre más" */
.project-link {
  display: inline-block;
  margin-top: 15px;
  padding: 8px 16px;
  background-color: var(--primary-color);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

/* Estilos al pasar el ratón sobre el enlace "Descubre más" */
.project-link:hover {
  background-color: #007bff;
}

.project-container p {
  padding: 0.4rem;
  text-align: justify;
}


/* Estilos para la descripción del proyecto */
.project-details {
  margin-top: 10px;
  font-size: 1rem;
  color: #666;
}

/* Projects section ends */

/* Contacts section */
.contact {
  /* margin-top: 2rem; */
  padding: 2rem 1rem; /* Adjusted padding */
  /* background: linear-gradient(45deg, #181818 0%, #2c3e50 50%, #181818 100%); */
}

.contact h2 {
  text-align: center;
  margin-bottom: var(--bottom-margin-2);
  color: var(--primary-color);
  font-size: 1.8rem; /* Adjusted font size */
}

.contact-form-container {
  max-width: 25rem; /* Adjusted max-width */
  margin: 0 auto;
  padding: 1rem;
  border-radius: 0.8rem;
  box-shadow: 0 3px 10px var(--secondary-shadow);
}

.contact-form-container label {
  line-height: 2.7em;
  font-weight: var(--bold-font);
  color: var(--primary-color);
}

.contact-form-container textarea {
  min-height: 8rem; /* Adjusted min-height */
  font-size: 14px;
}

.input-field {
  padding: 0.5rem;
  padding-top: 10px;
  padding-bottom: 10px;
}

.contact-form-container .input-field {
  width: 100%;
  padding: 0.5rem;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: none;
  border: 2px outset var(--primary-color);
  font-size: 0.875rem;
  outline: none;
  background-color: var(--bg-color);
  color: var(--primary-color);
}

.input-field::placeholder {
  padding: 0.5rem;
  color: var(--primary-color);
}

.submit-btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: var(--bg-color);
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: var(--bold-font);
  transition: var(--transition);
  color: var(--text);
}

.submit-btn:hover {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  cursor: pointer;
}
/* Contacts section ends */

/* Social buttons */
.socials {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 2%;
  bottom: 40%;
}

.socicon {
  width: 2rem;
  height: 2rem;
}
/* Social button ends */

/* Scroll to top button */
.scroll-up {
  position: fixed;
  right: 0.5%;
  bottom: 5%;
  cursor: pointer;
}

.up-arrow {
  width: 2.5rem;
  height: 2.5rem;
}
/* Scroll to top button ends */

/* Footer section */
footer {
  background-color: var(--bg-color);
  padding: 20px;
  text-align: center;
  margin: 2rem 0 0;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

/* Estilo para cada columna en el pie de página */
.footer-column {
  flex: 1;
  margin-right: 20px; /* Ajusta el espacio entre las columnas según sea necesario */
}

/* Estilo para los íconos de redes sociales */
.social-icons {
  display: flex;
  justify-content: center; /* Centrar los elementos horizontalmente */
  align-items: center; /* Centrar los elementos verticalmente */
  margin-top: 20px; /* Ajusta según sea necesario */
  
}

.social-icons a {
  margin: 0 15px; /* Espacio entre los iconos, ajusta según sea necesario */
  text-decoration: none; /* Elimina la decoración de texto */
  display: inline-block; /* Asegura que cada enlace se comporte como un bloque en línea */

}

.social-icons a img {
  width: 40px; /* Ajusta el ancho de los iconos según sea necesario */
  height: 40px; /* Ajusta la altura de los iconos según sea necesario */
  border-radius: 50%; /* Haz que los iconos sean circulares */
}

/* Estilo para los enlaces de información legal y política de privacidad */
.footer-column p a {
  color: #333; /* Cambia el color del texto según tus preferencias */
  text-decoration: none;
}

.footer-column p a:hover {
  text-decoration: underline; /* Subrayar los enlaces al pasar el ratón sobre ellos */
}

/* Footer section ends */

/* General (utilities) */
.icon-card {
  background-color: var(--bg-color);
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
  padding: 20px;
  margin: 10px;
}

.project-card {
  background-color: var(--bg-color);
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 20px;
  margin: 10px;
}

.Efecto_Horizontal {
  view-timeline-name: --efecto-horizontal;
  view-timeline-axis: block;

  animation-timeline: --efecto-horizontal;
  animation-name: efectoHorizontal;

  animation-range: entry 15% cover 50%;
  animation-fill-mode: both;
}

@keyframes efectoHorizontal {
  from {
      opacity: 0;
      transform: translate(-100px, 0px);
  }
  to {
      opacity: 1;
      transform: translate(0px, 0px);
  }
}

.Efecto_Vertical {
  view-timeline-name: --efecto-vertical;
  view-timeline-axis: block;

  animation-timeline: --efecto-vertical;
  animation-name: efectoVertical;

  animation-range: entry 15% cover 50%;
  animation-fill-mode: both;
}

@keyframes efectoVertical {
  from {
      opacity: 0;
      transform: translate(0px, 100px);
  }
  to {
      opacity: 1;
      transform: translate(0px, 0px);
  }
}


/* Media queries for responsiveness */
@media screen and (max-width: 720px) {
  nav {
    padding: 1.5rem 1rem;
  }

  nav ul {
    position: fixed;
    background-color: var(--bg-color);
    flex-direction: column;
    top: 86px;
    left: 0;
    width: 100%;
    text-align:center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
     /* Añadido para centrar horizontalmente */
  }

  nav ul.show {
    transform: translateX(0); /* Mostrar el menú desplazándolo a 0% de la pantalla */
  }

  nav ul li {
    margin: 10px;
    width: 100%;

  }

  .burger-menu {
    display: block;
  }

  nav ul.show {
    transform: translateX(0);
  }

  .hero {
    margin-top: 0;
    flex-direction: column;
    gap: 0;
  }

  .hero img {
    width: 100%; 
    width: 17rem;
    margin-top: 0; 
    border-radius: 20px;
  }

  .bio {
    margin-top: -7rem;
    width: 60%;
    margin-top: 1rem;
  }

  .more-about {
    margin-top: 2rem;
    padding: 1rem 3.5rem;
  }

  .more-about h2 {
    text-align: center;
  }

  .more-about p {
    text-align: justify;
  }

  .icon {
    width: 5.875rem;
    height: 5.25rem;
  }

  .projects-container {
    flex-direction: column;
  }

  .project-container {
    width: 20.875rem;
  }

  .contact-form-container {
    max-width: 23.75rem;
  }
}

@media screen and (max-width: 420px) {

 
  .hero img {
    height: 16.5rem;
    width: 17rem;
  }

  .bio {
    width: 18.3rem;
  }

  .project-container {
    width: 17.875rem;
  }

  .contact-form-container {
    max-width: 17.75rem;
  }
}

.container:hover {
  transform: scale(1.02); /* Ajusta el valor según tu preferencia */
  transition: transform 0.3s ease; /* Controla la velocidad de la transición */
}

/* Aplica el efecto a los contenedores que desees */
/* Por ejemplo, si quieres aplicarlo a todos los contenedores con la clase "project-container" */
.project-container:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease;
}

/* También puedes aplicarlo a otros elementos según tus necesidades */
/* Por ejemplo, si deseas aplicarlo a las imágenes dentro de los contenedores */
.project-container img:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease;
}

.skills-wrapper img:hover {
  transform: scale(1.09);
  transition: transform 0.3s ease;
}